/**
 * Admin Style
 */
/* svg */
svg.ok {
  display: none;
  opacity: 0;
}

/* Icons menu */
#toplevel_page_wc_el_inv-options-page a .wp-menu-image::before {
  background:      url('../images/invoice.svg') no-repeat center center;
  background-size: 100%;
  content:         '';
  position:        relative;
  width:           30px;
}

#wp-admin-bar-wc_el_inv_options > a.ab-item:before {
  background-image:    url('../images/invoice.svg') !important;
  background-position: center center;
  background-repeat:   no-repeat;
  background-size:     100%;
  content:             '';
  position:            relative;
  width:               30px;
  height:              24px;
}

#toplevel_page_wc_el_inv-options-page ul.wp-submenu li.wp-first-item {
  display: none !important;
}

#wp-admin-bar-wc_el_inv_options.active > a.ab-item,
#wp-admin-bar-wc_el_inv_options.active {
  background: #46b450 !important;
  color:      #fff !important;
}

#wp-admin-bar-wc_el_inv_options.not-active > a.ab-item,
#wp-admin-bar-wc_el_inv_options.not-active {
  background: #dc3232 !important;
  color:      #fff !important;
}

/* admin pages */
body.toplevel_page_wc_el_inv-options-page {
  background: #fff !important;
}

body.toplevel_page_wc_el_inv-options-page form .button#save_invoice_next_number,
body.toplevel_page_wc_el_inv-options-page form .button#submit,
body.toplevel_page_wc_el_inv-options-page form .filter-line .button,
body.toplevel_page_wc_el_inv-options-page form .filter-line .button-primary,
body.toplevel_page_wc_el_inv-options-page form .filter-line .button-secondary,
body.toplevel_page_wc_el_inv-options-page form .form-table .button,
body.toplevel_page_wc_el_inv-options-page form .form-table .button-primary,
body.toplevel_page_wc_el_inv-options-page form .form-table .button-secondary,
body.toplevel_page_wc_el_inv-options-page form .utility .button,
body.toplevel_page_wc_el_inv-options-page form .utility .button-primary,
body.toplevel_page_wc_el_inv-options-page form .utility .button-secondary {
  height:         40px;
  line-height:    37px;
  font-size:      1rem;
  text-transform: uppercase;
  border:         1px solid #007cba;
  transition:     all 350ms ease-in-out;
}

body.toplevel_page_wc_el_inv-options-page form .button#save_invoice_next_number {
  background: #fff;
}

.toplevel_page_wc_el_inv-options-page .wp-list-table .column-actions .button {
  transition: all 350ms ease-in-out;
}

body.toplevel_page_wc_el_inv-options-page form .button.button-primary,
body.toplevel_page_wc_el_inv-options-page form .button-primary {
  background: #007cba;
}

body.toplevel_page_wc_el_inv-options-page form .button.button-secondary,
body.toplevel_page_wc_el_inv-options-page form .button-secondary {
  background: #fff;
  border:     1px solid #007cba;
  color:      #007cba;
}

body.toplevel_page_wc_el_inv-options-page form .button#save_invoice_next_number:hover,
body.toplevel_page_wc_el_inv-options-page form .button.button-secondary:hover {
  background: #007cba;
  border:     1px solid #007cba;
  color:      #fff;
  box-shadow: 0 2px 0 #023e5d;
}

body.toplevel_page_wc_el_inv-options-page form .button#submit:hover,
body.toplevel_page_wc_el_inv-options-page form .button-primary:hover {
  background: #fff;
  border:     1px solid #007cba;
  color:      #007cba;
  box-shadow: 0 2px 0 #023e5d;
}

.wc_el_inv__general-order input[type="text"],
.wc_el_inv__general-order input[type="number"],
.wc_el_inv__general-order input[type="date"],
.wc_el_inv__general-order input[type="url"],
.wc_el_inv__general-order input[type="search"],
.wc_el_inv__general-order select,
.wc_el_inv__general-order textarea,
.wc_el_inv__refund-invoice input[type="text"],
.wc_el_inv__refund-invoice input[type="number"],
.wc_el_inv__refund-invoice input[type="date"],
.wc_el_inv__refund-invoice input[type="url"],
.wc_el_inv__refund-invoice input[type="search"],
.wc_el_inv__refund-invoice select,
.wc_el_inv__refund-invoice textarea,
body.toplevel_page_wc_el_inv-options-page form .form-table input[type="text"],
body.toplevel_page_wc_el_inv-options-page form .form-table input[type="number"],
body.toplevel_page_wc_el_inv-options-page form .form-table input[type="date"],
body.toplevel_page_wc_el_inv-options-page form .form-table input[type="url"],
body.toplevel_page_wc_el_inv-options-page form .form-table input[type="search"],
body.toplevel_page_wc_el_inv-options-page form .form-table select,
body.toplevel_page_wc_el_inv-options-page form .form-table textarea,
body.toplevel_page_wc_el_inv-options-page form .filter-line input[type="text"],
body.toplevel_page_wc_el_inv-options-page form .filter-line input[type="number"],
body.toplevel_page_wc_el_inv-options-page form .filter-line input[type="date"],
body.toplevel_page_wc_el_inv-options-page form .filter-line input[type="url"],
body.toplevel_page_wc_el_inv-options-page form .filter-line input[type="search"],
body.toplevel_page_wc_el_inv-options-page form .filter-line select,
body.toplevel_page_wc_el_inv-options-page form .filter-line textarea,
body.toplevel_page_wc_el_inv-options-page form .utility input[type="text"],
body.toplevel_page_wc_el_inv-options-page form .utility input[type="number"],
body.toplevel_page_wc_el_inv-options-page form .utility input[type="date"],
body.toplevel_page_wc_el_inv-options-page form .utility input[type="url"],
body.toplevel_page_wc_el_inv-options-page form .utility input[type="search"],
body.toplevel_page_wc_el_inv-options-page form .utility select,
body.toplevel_page_wc_el_inv-options-page form .utility textarea,
body.toplevel_page_wc_el_inv-options-page form .addon input[type="text"],
body.toplevel_page_wc_el_inv-options-page form .addon input[type="number"],
body.toplevel_page_wc_el_inv-options-page form .addon input[type="date"],
body.toplevel_page_wc_el_inv-options-page form .addon input[type="url"],
body.toplevel_page_wc_el_inv-options-page form .addon input[type="search"],
body.toplevel_page_wc_el_inv-options-page form .addon select,
body.toplevel_page_wc_el_inv-options-page form .addon textarea {
  background:    #fff;
  border:        1px solid #007cba;
  border-radius: 0;
  height:        38px;
  width:         100%;
  max-width:     350px;
}

.wc_el_inv__general-order input[type="number"],
.wc_el_inv__general-order select,
.wc_el_inv__refund-invoice input[type="number"],
.wc_el_inv__refund-invoice select,
body.toplevel_page_wc_el_inv-options-page form .form-table input[type="number"],
body.toplevel_page_wc_el_inv-options-page form .form-table select,
body.toplevel_page_wc_el_inv-options-page form .filter-line input[type="number"],
body.toplevel_page_wc_el_inv-options-page form .filter-line select,
body.toplevel_page_wc_el_inv-options-page form .addon input[type="number"],
body.toplevel_page_wc_el_inv-options-page form .addon select,
body.toplevel_page_wc_el_inv-options-page form .utility input[type="number"],
body.toplevel_page_wc_el_inv-options-page form .utility select {
  appearance: auto;
}

body.toplevel_page_wc_el_inv-options-page form .form-table textarea,
body.toplevel_page_wc_el_inv-options-page form .filter-line textarea,
body.toplevel_page_wc_el_inv-options-page form .addon textarea,
body.toplevel_page_wc_el_inv-options-page form .utility textarea {
  max-width: 500px !important;
}

.wc_el_inv__general-order input[type="checkbox"],
.wc_el_inv__refund-invoice input[type="checkbox"],
body.toplevel_page_wc_el_inv-options-page form .form-table input[type="checkbox"],
body.toplevel_page_wc_el_inv-options-page form .filter-line input[type="checkbox"],
body.toplevel_page_wc_el_inv-options-page form .addon input[type="checkbox"],
body.toplevel_page_wc_el_inv-options-page form .utility input[type="checkbox"] {
  background:    #fff;
  border:        1px solid #007cba;
  border-radius: 0;
}

.doc-type-wrap input[type="radio"],
.wc_el_inv__refund-invoice input[type="radio"],
.wc_el_inv__general-order input[type="radio"],
body.toplevel_page_wc_el_inv-options-page form .form-table input[type="radio"],
body.toplevel_page_wc_el_inv-options-page form .filter-line input[type="radio"],
body.toplevel_page_wc_el_inv-options-page form .addon input[type="radio"],
body.toplevel_page_wc_el_inv-options-page form .utility input[type="radio"] {
  background: #fff;
  border:     1px solid #007cba;
}

/* Settings Tabs */
.toplevel_page_wc_el_inv-options-page .wc_el_inv-wrapper form .wc_el_inv__header .title {
  display:     flex !important;
  align-items: center !important;
  line-height: 0.8;
}

.toplevel_page_wc_el_inv-options-page .wc_el_inv-wrapper form .wc_el_inv__header .title .version {
  font-size:      1rem;
  padding:        0.5rem;
  display:        inline-block;
  background:     #46b450;
  color:          #fff;
  font-weight:    700;
  margin-top:     0.4em;
  vertical-align: text-bottom;
}

.toplevel_page_wc_el_inv-options-page .wc_el_inv-wrapper form .wc_el_inv__header .php_version {
  background:  #007cba;
  color:       #fff;
  padding:     0.5rem;
  font-weight: 700;
  font-size:   0.9rem;
}

.toplevel_page_wc_el_inv-options-page .wc_el_inv-wrapper .wc_el_inv__tabs {
  display:        flex;
  border-bottom:  1px solid #007cba;
  margin:         1.5em 0 1em;
  padding-top:    9px;
  padding-bottom: 0;
  line-height:    inherit;
}

.toplevel_page_wc_el_inv-options-page .wc_el_inv-wrapper .wc_el_inv__tabs .wc_el_inv__tabs--item {
  margin: 0;
}

.toplevel_page_wc_el_inv-options-page .wc_el_inv-wrapper .wc_el_inv__tabs .wc_el_inv__tabs--item a .dashicons {
  font-size:    16px;
  line-height:  25px;
  margin-right: 4px;
}

.toplevel_page_wc_el_inv-options-page .wc_el_inv-wrapper .wc_el_inv__tabs .wc_el_inv__tabs--item a {
  transition:      all 350ms ease-in-out;
  display:         block;
  border:          1px solid #007cba;
  border-bottom:   none;
  margin-left:     0.5em;
  padding:         5px 12px;
  font-size:       14px;
  line-height:     24px;
  font-weight:     600;
  background:      #fff;
  color:           #007cba;
  text-decoration: none;
  white-space:     nowrap;
  margin-bottom:   -1px;
}

.toplevel_page_wc_el_inv-options-page .wc_el_inv-wrapper .wc_el_inv__tabs .wc_el_inv__tabs--item a:hover,
.toplevel_page_wc_el_inv-options-page .wc_el_inv-wrapper .wc_el_inv__tabs .wc_el_inv__tabs--item a.active {
  border-bottom: 1px solid #007cba;
  background:    #007cba;
  color:         #fff;
}

/* WooCommerce Tabs */
#woocommerce-product-data ul.wc-tabs li.wc-inv-invoice_options a::before {
  display: none;
}

#woocommerce-product-data ul.wc-tabs li.wc-inv-invoice_options a {
  background: #0085ba;
  color:      #fff;
}

#woocommerce-product-data ul.wc-tabs li.wc-inv-invoice_options:hover a,
#woocommerce-product-data ul.wc-tabs li.wc-inv-invoice_options.active a {
  background: #008ec2;
}

#woocommerce-product-data ul.wc-tabs li.wc-inv-invoice_options a::after {
  background:      url('../images/invoice.svg') no-repeat center center;
  background-size: 100%;
  content:         '';
  display:         inline-block;
  position:        relative;
  width:           22px;
  height:          22px;
  vertical-align:  middle;
  float:           left;
}

/* Json list */
.wc_el_inv__xml,
.wc_el_inv__json {
  background:    #fff;
  border:        1px solid #ddd;
  padding:       .5rem;
  margin-bottom: 1em;
}

.wc_el_inv__xml-list--type,
.wc_el_inv__json-list--type {
  margin-bottom: .3em;
}

.wc_el_inv__xml-list,
.wc_el_inv__json-list {
  background: #fff;
  border:     1px solid #ddd;
  max-height: 350px;
  overflow:   scroll;
  margin:     0;
}

.wc_el_inv__xml-list {
  max-height: 650px;
}

.wc_el_inv__xml-list li,
.wc_el_inv__json-list li {
  background:    #f6f6f6;
  border-bottom: 1px solid #ccc;
  margin:        0;
  padding:       .5rem;
}

.wc_el_inv__json-list li.wc_el_inv__json-list--ids {
  background: rgba(135, 207, 239, 0.5);
}

.wc_el_inv__json-list li.wc_el_inv__json-list--shop_order,
.wc_el_inv__json-list li.wc_el_inv__json-list--product {
  background: rgba(153, 239, 112, 0.5);
}

.wc_el_inv-mode {
  font-weight: normal;
}

.wc_el_inv-mode.dev {
  color: forestgreen;
}

.wc_el_inv__no-key strong {
  text-transform: uppercase;
}

.wc_el_inv__no-key code,
.wc_el_inv-mode.prod {
  color: red;
}

/* actions */
.wc_el_inv__actions {
  align-content:   center;
  align-items:     center;
  display:         flex;
  justify-content: left;
  flex-direction:  row;
}

.wc_el_inv__actions > * {
  margin-right: .5em;
}

.wc_el_inv__actions > *:last-of-type {
  margin-right: 0;
}

.wc_el_inv__actions .wc_el_inv__actions--text {
  flex: 1 0 65%;
}

.wc_el_inv__actions .wc_el_inv__actions--xml a .dashicons,
.wc_el_inv__actions .wc_el_inv__actions--view a .dashicons {
  vertical-align: middle;
  font-size:      1rem;
}

/* WC Integration */
.notice-error .dashicons,
.wc_el_inv-form .notice-error .dashicons {
  color: #dc3232;
}

.notice-info .dashicons,
.wc_el_inv-form .notice-info .dashicons {
  color: #00a0d2;
}

.notice-warning .dashicons,
.wc_el_inv-form .notice-warning .dashicons {
  color: #ffb900;
}

.notice-success .dashicons,
.wc_el_inv-form .notice-success .dashicons {
  color: #46b450;
}

.wc_el_inv-form table.wc_el_inv-vat-rules {
  border: 1px solid #ddd;
}

.wc_el_inv-form table.wc_el_inv-vat-rules thead {
  background: #fff;
}

.wc_el_inv-form table.wc_el_inv-vat-rules tbody > :nth-child(2n+1) {
  background-color: #f9f9f9;
}

.wc_el_inv-form table.wc_el_inv-vat-rules tbody > tr td strong.req {
  color: red;
}

.wc_el_inv-form table.wc_el_inv-vat-rules tbody > tr td strong.not-req {
  color: forestgreen;
}

.wc_el_inv-form table textarea {
  width:      100%;
  min-height: 120px;
}

/* List table */
.toplevel_page_wc_el_inv-options-page .wrap .invoice_range strong {
  background-color: yellow;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line {
  display:        flex;
  align-content:  center;
  align-items:    flex-start;
  flex-direction: column;
  width:          70%;
  float:          left;
  border-top:     1px solid #ccc;
  padding-top:    0.5rem;
}

.toplevel_page_wc_el_inv-options-page .wrap .summary-data {
  background:  #fff;
  border:      1px solid #ccc;
  padding:     1.8%;
  width:       20%;
  float:       right;
  margin-left: 5%;
}

.toplevel_page_wc_el_inv-options-page .wrap .summary-data .last-download {
  display:         inline-block;
  padding:         3px 6px;
  background:      #85c95b;
  color:           #fff;
  border-radius:   3px;
  text-decoration: none;
}

.toplevel_page_wc_el_inv-options-page .wrap .summary-data h3 {
  margin: 0 0 5px;
}

.toplevel_page_wc_el_inv-options-page .wrap .summary-data p {
  margin: 0;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line .filter-selects {
  flex: 1 0 auto;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line label {
  font-weight:  700;
  margin-right: 15px;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line label small {
  font-weight: 400;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line select {
  font-weight: 400;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line .bulk-actions {
  margin-left:    5px;
  border-bottom:  1px solid #ccc;
  padding-bottom: 1rem;
  width:          100%;
  margin-top:     0.8em;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line .bulk-actions span {
  display:        inline-block;
  vertical-align: bottom;
  margin:         0 5px 0 0;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line .bulk-actions span.actions-button a.filter {
  padding:      0 10px;
  margin-right: 20px;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line .bulk-actions .bulk-actions-label {
  display:   inline-block;
  max-width: 100%;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line .bulk-actions a {
  margin-left: 2px;
  display:     inline-table;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line .search label input#wc_el_inv_order_search {
  margin-right: 8px;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line label#wc_el_inv_order_search_label a span.dashicons,
.toplevel_page_wc_el_inv-options-page .wrap .filter-line .bulk-actions a span.dashicons {
  vertical-align: middle;
  font-size:      1rem;
  margin:         0;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line label#wc_el_inv_order_search_label a.wc_el_inv_order_search_trigger {
  font-weight: 400;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line label,
.toplevel_page_wc_el_inv-options-page .wrap .filter-line label select {
  display:   inline-block;
  max-width: 120px;
  width:     100%;
}

.toplevel_page_wc_el_inv-options-page .wrap .filter-line .search,
.toplevel_page_wc_el_inv-options-page .wrap .filter-line label#wc_el_inv_order_search_label {
  max-width: 470px;
  width:     100%;
}

.toplevel_page_wc_el_inv-options-page .wp-list-table .check-column input {
  display: block !important;
}

.toplevel_page_wc_el_inv-options-page .wp-list-table thead tr th,
.toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr th {
  font-size: 13px;
}

.toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #invoice_number,
.toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #invoice_sent,
.toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-invoice_number,
.toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-invoice_sent {
  width: 80px;
}

.toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #total,
.toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #invoice_type,
.toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #choice_type,
.toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-total,
.toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-invoice_type,
.toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-choice_type {
  width: 110px;
}

.toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #data_entered,
.toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-data_entered {
  width: 160px;
}

/* Only xml table*/
.toplevel_page_wc_el_inv-options-page .current-setting_section_xml .wp-list-table .column-id {
  width: 15%;
}

.toplevel_page_wc_el_inv-options-page .wp-list-table .column-actions {
  width:      18%;
  text-align: right;
  background: rgba(0, 0, 0, 0.05);
}

.toplevel_page_wc_el_inv-options-page .wp-list-table .column-actions a {
  margin-left:   2px;
  margin-bottom: 2px;
  padding:       0 5px 1px;
  line-height:   2;
}

.toplevel_page_wc_el_inv-options-page .wp-list-table .column-invoice_sent i.mark-yes {
  background:    #87ca5f;
  border-radius: 100%;
  color:         #fff;
  text-align:    center;
  line-height:   1.1;
}

.toplevel_page_wc_el_inv-options-page .wp-list-table .column-invoice_sent i.mark-warning:before {
  content:       "!";
  background:    #e2c03e;
  border-radius: 100%;
  color:         #fff;
  text-align:    center;
  width:         100%;
  height:        100%;
  display:       block;
  z-index:       -1;
  font-weight:   700;
  line-height:   15px;
  font-size:     18px;
}

.toplevel_page_wc_el_inv-options-page .wp-list-table .column-actions a .dashicons {
  vertical-align: middle;
  font-size:      1rem;
}

/* Actions bulk */
.toplevel_page_wc_el_inv-options-page .actions-sent-bulk h4 {
  margin-bottom: 0;
}

.toplevel_page_wc_el_inv-options-page .actions-sent-bulk #mark_as_sent-bulk-undo,
.toplevel_page_wc_el_inv-options-page .actions-sent-bulk #mark_as_sent-bulk-sent {
  font-size:    0.8rem;
  font-weight:  700;
  margin-right: 0.5em;
}

.toplevel_page_wc_el_inv-options-page .actions-sent-bulk #mark_as_sent-bulk-undo .dashicons,
.toplevel_page_wc_el_inv-options-page .actions-sent-bulk #mark_as_sent-bulk-sent .dashicons {
  vertical-align: middle;
}

/* Edit invoice number */
[id*='close_refund_invoice_next_number-'],
[id*='edit_refund_invoice_next_number-'],
#close_invoice_next_number,
#edit_invoice_next_number {
  display:         inline-block;
  text-decoration: none;
  color:           #007cba;
}

#save_invoice_next_number {
  position: relative;
}

/* Order general option */
.wc_el_inv__general-order {
  display: inline-block;
  padding: 0 2% 0 0;
  width:   100%;
}

.wc_el_inv__refund-invoice .actions,
.wc_el_inv__general-order .actions {
  display:        flex;
  align-items:    center;
  align-content:  center;
  flex-direction: row;
  flex-wrap:      wrap;
  width:          100%;
}

.wc_el_inv__refund-invoice .actions .doc-type-wrap,
.wc_el_inv__general-order .actions .doc-type-wrap {
  width:  100%;
  margin: 0 0 10px;
}

.wc_el_inv__refund-invoice .actions a,
.wc_el_inv__general-order .actions a {
  display:         flex;
  height:          100%;
  align-items:     center;
  align-content:   center;
  justify-content: center;
  padding:         4px 10px;
  margin-right:    2px;
}

.wc_el_inv__refund-invoice {
  background: rgba(255, 253, 202, 0.2);
}

.wc_el_inv__general-order h3 {
  padding-top: .5rem;
}

.wc_el_inv__refund-invoice td h3 {
  font-size: 14px;
  margin:    0;
}

.wc_el_inv__refund-invoice td h3 a,
.wc_el_inv__general-order h3 a {
  float: right;
}

.wc_el_inv__refund-invoice .wc_el_inv__refund-invoice--hidden-fields [class*="refund_number_invoice-"] {
  width: 150px;
}

.wc_el_inv__refund-invoice .wc_el_inv__refund-invoice--hidden-fields [class*="refund_date_invoice-"] {
  float:   none !important;
  display: inline-block;
  width:   150px;
}

.wc_el_inv__refund-invoice .wc_el_inv__refund-invoice--hidden-fields [class*="refund_hours_invoice-"],
.wc_el_inv__refund-invoice .wc_el_inv__refund-invoice--hidden-fields [class*="refund_minutes_invoice-"] {
  float:   none !important;
  display: inline-block;
  width:   60px;
}

.wc_el_inv__refund-invoice .wc_el_inv__refund-invoice--hidden-fields [class*="refund_date_invoice-"] input,
.wc_el_inv__refund-invoice .wc_el_inv__refund-invoice--hidden-fields [class*="refund_hours_invoice-"] input,
.wc_el_inv__refund-invoice .wc_el_inv__refund-invoice--hidden-fields [class*="refund_minutes_invoice-"] input {
  width: 100%;
}

.wc_el_inv__general-order .order_number_invoice_field {
  width: 100% !important;
}

.wc_el_inv__general-order .order_number_invoice_field #order_number_invoice {
  width: 50% !important;
}

.wc_el_inv__general-order.invoice-date > p {
  margin: 9px 0 0;
}

.wc_el_inv__refund-invoice .wc_el_inv__refund-invoice--hidden-fields .hours,
.wc_el_inv__refund-invoice .wc_el_inv__refund-invoice--hidden-fields .minutes,
.wc_el_inv__general-order.invoice-date .hours,
.wc_el_inv__general-order.invoice-date .minutes {
  margin: 0 1%;
}

.wc_el_inv__refund-invoice--hidden-fields p,
.wc_el_inv__general-order--hidden-fields p {
  margin: 0 !important;
}

.wc_el_inv__refund-invoice .form-field,
.wc_el_inv__general-order.invoice-date .form-field {
  float:   none !important;
  display: inline-block;
}

.wc_el_inv__general-order.invoice-date .form-field.order_hours_invoice_field,
.wc_el_inv__general-order.invoice-date .form-field.order_minutes_invoice_field {
  width: 65px !important;
}

.wc_el_inv__refund-invoice--hidden-fields,
.wc_el_inv__general-order--hidden-fields {
  display: none;
}

/* Option page */
label[for="wc_el_inv-settings-invoice_active_js_cf_check"] + br + small,
label[for="wc_el_inv-settings-invoice_disable_cf"] + br + small,
label[for="wc_el_inv-settings-invoice_disable_pec_sdi"] + br + small {
  color:       #b73312 !important;
  font-weight: 700;
}

/* button color */
.mark_as_sent,
.button-save {
  transition:      all 350ms ease-in-out;
  background:      #87ca5f !important;
  border-color:    #5ea136 #71ba3c #71ba3c !important;
  box-shadow:      0 1px 0 #71ba3c !important;
  color:           #fff !important;
  text-decoration: none !important;
  text-shadow:     0 -1px 1px #71ba3c, 1px 0 1px #71ba3c, 0 1px 1px #71ba3c, -1px 0 1px #71ba3c !important;
}

.button-save:hover,
.mark_as_sent:hover {
  box-shadow: 0 2px 0 #3e7714 !important;
}

.button-csv {
  transition:      all 350ms ease-in-out;
  background:      #d28937 !important;
  border-color:    #a56231 #d28937 #a56231 !important;
  box-shadow:      0 1px 0 #d28937 !important;
  color:           #fff !important;
  text-decoration: none !important;
  text-shadow:     0 -1px 1px #d28937, 1px 0 1px #d28937, 0 1px 1px #d28937, -1px 0 1px #d28937 !important;
}

.button-csv:hover {
  box-shadow: 0 2px 0 #794b17 !important;
}

.button-pdf {
  transition:      all 350ms ease-in-out;
  background:      #b73312 !important;
  border-color:    #ca3a14 #bb3112 #bb3112 !important;
  box-shadow:      0 1px 0 #bb3112 !important;
  color:           #fff !important;
  text-decoration: none !important;
  text-shadow:     0 -1px 1px #bb3112, 1px 0 1px #bb3112, 0 1px 1px #bb3112, -1px 0 1px #bb3112 !important;
}

.button-pdf:hover {
  box-shadow: 0 2px 0 #831f09 !important;
}

.mark_undo {
  transition:      all 350ms ease-in-out;
  background:      #e2c03e !important;
  border-color:    #ccab39 #e1bf3b #e1bf3b !important;
  box-shadow:      0 1px 0 #a08428 !important;
  color:           #333 !important;
  text-decoration: none !important;
  text-shadow:     0 -1px 1px #f1cf3d, 1px 0 1px #f1cf3d, 0 1px 1px #f1cf3d, -1px 0 1px #f1cf3d !important;
}

.mark_undo:hover {
  box-shadow: 0 2px 0 #705a12 !important;
}

/* Order data */
.order_data_column_container .order_data_column p.hide {
  display: none;
}

.order_data_column_container .order_data_column #_billing_sdi_type,
.order_data_column_container .order_data_column #_billing_tax_code {
  text-transform: uppercase !important;
}

/* Order read only info */
#woocommerce-order-items .wc-order-data-row p#readonly-info {
  line-height: 1.2 !important;
  font-size:   12px !important;
  margin-top:  5px;
  display:     block;
  float:       left;
  color:       red;
}

/* renumber */
.utility_renumber_wrap_field {
  display:        flex;
  flex-direction: row;
  flex-wrap:      wrap;
  align-items:    end;
}

.utility_renumber_wrap_field #renumber_invoice_submit,
.utility_renumber_wrap_field .renumber_field {
  margin-bottom: 13px !important;
  margin-right:  13px !important;
}

.utility_renumber_wrap_field .renumber_field label {
  display:        flex;
  flex-direction: column;
}

/* product fields */
#woocommerce-product-data ul.wc-tabs li.wc_el_inv-product_options a::before {
  display: none;
}

#woocommerce-product-data ul.wc-tabs li.wc_el_inv-product_options a {
  background: #0085ba;
  color:      #fff;
}

#woocommerce-product-data ul.wc-tabs li.wc_el_inv-product_options:hover a,
#woocommerce-product-data ul.wc-tabs li.wc_el_inv-product_options.active a {
  background: #008ec2;
}

#woocommerce-product-data ul.wc-tabs li.wc_el_inv-product_options a span {
  display:        inline-block;
  vertical-align: middle;
}

#woocommerce-product-data ul.wc-tabs li.wc_el_inv-product_options a::after {
  background:      url('../images/invoice.svg') no-repeat center center;
  background-size: 100%;
  content:         '';
  display:         inline-block;
  position:        relative;
  width:           22px;
  height:          22px;
  vertical-align:  middle;
  float:           left;
}

#wpbody-content .inline-edit-row fieldset.inline-edit-reverse_charge {
  overflow: hidden;
}

#wpbody-content .inline-edit-row fieldset .inline-edit-col.column-edit-reverse_charge .label-edit-reverse_charge {
  width:      100%;
  background: #ddd;
  padding:    4px 8px;
}

#wpbody-content .inline-edit-row fieldset .inline-edit-col.column-edit-reverse_charge {
  padding: 0;
}

#wpbody-content .inline-edit-row fieldset .inline-edit-col.column-edit-reverse_charge h4 {
  margin:     0;
  background: #0085ba;
  color:      #fff;
  padding:    4px 8px;
}

#reverse_charge-product-data .panel_title {
  padding:    0.7rem;
  background: #0085ba;
  color:      #fff;
  margin:     0;
}

.wp-list-table #reverse_charge {
  width: 25px;
}

.wp-list-table #reverse_charge .wc-reverse_charge {
  display:         flex;
  align-items:     center;
  justify-content: center;
  width:           100%;
  text-align:      center;
  margin:          0 auto;
}

.wp-list-table #the-list .column-reverse_charge {
  display:    block;
  text-align: center;
}

.wp-list-table #the-list .column-reverse_charge img {
  width: 20px;
}

.wp-list-table #reverse_charge .wc-reverse_charge img {
  width:  12px;
  filter: invert(0) saturate(0) brightness(0);
}

#store_invoice_transmitter-description + table.form-table,
#store_invoice-description + table.form-table,
#reverse_charge_invoice-description + table.form-table {
  /*max-width:  760px;*/
  /*background: #fff;*/
}

#store_invoice_transmitter-description p,
#store_invoice-description p,
#reverse_charge_invoice-description p {
  margin: 0;
}

#store_invoice_transmitter-description,
#store_invoice-description,
#reverse_charge_invoice-description,
#reverse_charge_invoice_info-description,
#reverse_charge_invoice_info-description + table.form-table {
  /*max-width:  728px;*/
  /*background: #fff;*/
}

#store_invoice_transmitter-description,
#store_invoice-description,
#reverse_charge_invoice-description,
#reverse_charge_invoice_info-description {
  /*padding: 1rem;*/
}

.store_invoice_transmitter_title,
.store_invoice_title,
.reverse_charge_invoice_title {
  /*max-width:        728px;*/
  /*background-color: #007cba;*/
  /*color:            #fff;*/
  margin:           0;
  padding:          1rem 0;
}

.reverse_charge_info_trigger {
  background-color: #007cba;
  color:            #fff;
  margin:           0;
  padding:          1rem;
}

.reverse_charge_info_trigger span.dashicons {
  transition:  transform 400ms ease-in-out;
  margin-left: 0.3em;
}

.reverse_charge_info_trigger.open span.dashicons {
  transition: transform 400ms ease-in-out;
  transform:  rotate(90deg);
}

#store_invoice_transmitter-description + table.form-table th,
#store_invoice-description + table.form-table th,
#reverse_charge_invoice-description + table.form-table th {
  /*padding: 1.2rem 1rem;*/
}

#reverse_charge_invoice-description + table.form-table tr:nth-child(2),
#reverse_charge_invoice-description + table.form-table tr:nth-child(4),
#reverse_charge_invoice-description + table.form-table tr:nth-child(8),
#reverse_charge_invoice-description + table.form-table tr:nth-child(10) {
  border-bottom: 1px solid #ccc;
}

#reverse_charge_invoice_info-description {
  display: none;
}

.reverse_charge_info_trigger {
  cursor: pointer;
}

.mark_bulk_trigger.disabled,
.last-download.disabled,
.action-endpoint:disabled,
.action-endpoint[disabled="disabled"],
.action-endpoint.disabled {
  pointer-events: unset !important;
  opacity:        0.5;
  cursor:         not-allowed !important;
}

/* banner premium */
.banner-premium {
  background:     #fff;
  margin:         10px 20px 0 2px;
  display:        flex;
  flex-direction: row;
  align-content:  center;
  align-items:    center;
  border:         2px dashed #f59325;
  font-size:      90%;
}

.banner-premium h1 {
  color:       #21485c;
  line-height: 1.1;
}

.banner-premium h1 span {
  color: #f59325;
}

.banner-premium .banner-logo {
  padding:    1.5rem 0.5rem;
  text-align: center;
}

.banner-premium .banner-logo img {
  max-width: 90%;
}

.banner-premium .banner-text {
  background: #fff;
  padding:    0 10px;
}

.banner-premium ul.banner-premium--list {
  line-height: 1.1 !important;
}

.banner-premium .button {
  background:   #f59325;
  border-color: #f59325;
  color:        #fff;
}

.wc_el_inv__description--general {
  padding:    10px;
  background: #e5fbfb;
  border:     1px solid #007cba;
}

.wc_el_inv__description--general .dashicons {
  color: #007cba;
}

.wc_el_inv__description--general ol {
  margin:              0;
  list-style-position: inside;
}

.wc_el_inv__description--general ol li .dashicons-yes-alt {
  color:       #46b450 !important;
  font-size:   16px;
  line-height: 1.4;
}

.wc_el_inv__description--general ol li .dashicons-dismiss {
  color:       #dc3232 !important;
  font-size:   16px;
  line-height: 1.4;
}

@media screen and (max-width: 768px ) {
  .banner-premium {
    flex-direction: column;
  }

  .banner-premium::after {
    display: none !important;
  }
}

/* Media query */
@media screen and (min-width: 782px ) and (max-width: 1180px) {
  .toplevel_page_wc_el_inv-options-page .wp-list-table .column-actions {
    width: 22%;
  }

  .toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #data_entered,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-data_entered,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tbody tr td.data_entered,
  .toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #choice_type,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-choice_type,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tbody tr td.choice_type {
    visibility:  hidden;
    width:       0 !important;
    text-indent: -99999px;
    padding:     0;
  }

  .toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #data_entered *,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-data_entered *,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tbody tr td.data_entered *,
  .toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #choice_type *,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-choice_type *,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tbody tr td.choice_type * {
    display: none;
  }


  .toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #choice_type,
  .toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #data_entered,
  .toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #invoice_number,
  .toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #invoice_sent,
  .toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #total,
  .toplevel_page_wc_el_inv-options-page .wp-list-table thead tr #invoice_type,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-choice_type,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-data_entered,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-invoice_number,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-invoice_sent,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-total,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tfoot tr .column-invoice_type {
    width: auto;
  }
}

@media screen and (max-width: 1068px ) {

  .toplevel_page_wc_el_inv-options-page .wrap #wp-list-table-invoice-form {
    display:        flex;
    flex-direction: column;
    flex-wrap:      wrap;
  }

  .toplevel_page_wc_el_inv-options-page .wrap .filter-line {
    width: 100%;
  }

  .toplevel_page_wc_el_inv-options-page .wrap .summary-data {
    order:  -1;
    margin: 1rem 0 !important;
    width:  96.5%;
  }
}

@media screen and (max-width: 900px ) {
  .utility_renumber_wrap_field {
    flex-direction: column;
    align-items:    flex-start;
  }
}

@media screen and (max-width: 782px ) {

  .wp-list-table #the-list .column-reverse_charge,
  .toplevel_page_wc_el_inv-options-page .wp-list-table tr th.check-column {
    display: none;
  }

  .toplevel_page_wc_el_inv-options-page .wp-list-table .column-actions a {
    line-height: 35px;
  }

  .toplevel_page_wc_el_inv-options-page .current-setting_section_xml .wp-list-table .column-cb {
    width: 100% !important;
  }

  .toplevel_page_wc_el_inv-options-page .current-setting_section_xml .wp-list-table thead tr th.column-id {
    display: none;
  }

  .toplevel_page_wc_el_inv-options-page .wp-list-table #the-list tr:not(.is-expanded) .column-reverse_charge {
    display: none;
  }

  .toplevel_page_wc_el_inv-options-page .wp-list-table .column-actions {
    width:      auto;
    text-align: left;
  }

  .toplevel_page_wc_el_inv-options-page .wc_el_inv-wrapper .wc_el_inv__tabs {
    display: table;
    border:  0;
    width:   100%;
  }

  .toplevel_page_wc_el_inv-options-page .wc_el_inv-wrapper .wc_el_inv__tabs li {
    display: inline-flex;
  }

  .toplevel_page_wc_el_inv-options-page .wc_el_inv-wrapper .wc_el_inv__tabs li a {
    border: 1px solid #007cba !important;
    margin: 5px;
  }
}

@media screen and (max-width: 520px ) {
  .wc_el_inv__actions {
    display: inline-block;
    width:   100%;
  }

  .wc_el_inv__actions .wc_el_inv__actions--text {
    margin-bottom: .5em;
    margin-right:  0;
  }

  .wc_el_inv__actions .wc_el_inv__actions--xml,
  .wc_el_inv__actions .wc_el_inv__actions--view {
    float: left;
  }
}
